<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Roots of the quatratic equation are:</h1>

    <h2>{{ Message_result}}</h2>
    
    <h2> Root1:{{ result1 }}</h2>
    <h2> Root2: {{ result2 }}</h2>


    
    <form action="/" method="get">
        <button type="submit"> Homepage</button>
    </form>
    <form action="/equation" method="get">
        <button type="submit">New equation</button>
    </form>
    
</body>
</html>