<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roots of equation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <form action="/calculate_roots" method="post">
        <label for="enter coffitient A">Enter coffitient A:</label>
        
        <input type="number" id="enter coffitient A" name="A" placeholder="e.g., 6" required>
        
        <!-- <button type="submit">Submit</button> -->

        <label for="enter coffitient B">Enter coffitient B:</label>
        
        <input type="number" id="enter coffitient B" name="B" placeholder="e.g., 6" required>
        
        <!-- <button type="submit">Submit</button> -->

        <label for="enter coffitient C">Enter coffitient C:</label>
        
        <input type="number" id="enter coffitient C" name="C" placeholder="e.g., 6" required>
        
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>