<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>
        My First Website
    </h1>
    <div>
    <h3>
        1. click the Button below to find the area and circumfrence of a circle.
    </h3>

    <form action="/area_circle" method="get">
        <button type="submit">click</button>
    </form>
    </div>
    <br>
    <hr />


    <div>
        <h3>
            2. click the Button below to find the area of a square.
        </h3>
        <form action="/square" method="get">
            <button type="submit">click</button>
        </form>
    </div>
    <br>
    <hr />

    <div>
        <h3>
            3. Check whether a year is Leap Year or not.
        </h3>
        <form action="/leap_year" method="get">
            <button type="submit">click</button>
        </form>

    </div>
    <br>
    <hr />


    <div>
        <h3>4.Click below to find the roots a quadratic equation.</h3> 

        <form action="/equation" method="get">

            <button type="submit">Click</button>
        </form>
    </div>
    <br>
    <hr />
    
    <div>
        <h3>
            5. Click the button below to check for a Pallindrome.
        </h3>

        <form action="/pallindrome" method="get">
            <button type="submit">Click</button>
        </form>
    </div>
    <br>
    <hr />

    <div>
        <h3>
            5. Click the button below to check for a Prime Number.
        </h3>

        <form action="/prime" method="get">
            <button type="submit">Click</button>
        </form>
    </div>
    <br>
    <hr />


    <div>
        <h3>
            6. Click the button below to use Pythagoras Theorm.
        </h3>

        <form action="/pythagoras" method="get">
            <button type="submit">Click</button>
        </form>
    </div>
    <br>
    <hr />

    </form>












    Website made with &hearts; by Taha Mirza
</body>
</html>