<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pallindrome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <form action="/check_pallindrome" method="post">
        <label for="enter">Enter:</label>
        
        <input type="text" id="enter" name="string" placeholder="e.g., 2122 or taat" required>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>