<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pythagoras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <form action="/use_pythagoras" method="post">
        <label for="enter base">Enter length of base:</label>
        
        <input type="number" id="enter base" name="base" placeholder="e.g., 5" required>

        <label for="enter perpendicular">Enter length of perpendicular:</label>
        
        <input type="number" id="enter perpendicular" name="perpendicular" placeholder="e.g., 5" required>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>