<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of square</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <form action="/calculate_square" method="post">
        <label for="enter side">Enter Side length in meters:</label>
        
        <input type="number" id="enter side" name="side_length" placeholder="e.g., 5" required>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>